:root {
	/* neutral colors */
	--dark-text-color: hsl(229, 25%, 31%);
	--light-text-color: white;
	--score-text-color: hsl(229, 64%, 46%);
	--header-outline-color: hsl(217, 16%, 45%);
	--attribution-color: hsl(228, 45%, 44%);

	/* background colors */
	--background-gradient: radial-gradient(100% 100% at 49.87% 0%, hsl(214, 47%, 23%) 0%, hsl(237, 49%, 15%) 100%);

	/* fonts */
	--font-family: 'Barlow Semi Condensed', sans-serif;
	--font-weight-light: 300;
	--font-weight-semi-bold: 600;
	--font-weight-bold: 700;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-size: 10px;
	font-family: var(--font-family);
	font-weight: var(--font-weight-semi-bold);
	text-transform: uppercase;
	background: var(--background-gradient);
}

.App {
	width: 100vw;
	height: 100vh;
	margin: auto;
	padding: 3em;
	padding-bottom: 1em;
	display: grid;
	grid-template-rows: 10em 1fr 10em;
	grid-template-columns: 1fr;
	justify-content: center;
	position: relative;

	header {
		grid-row: 1 / 2;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 1em;
		outline: 0.3em solid var(--header-outline-color);
		box-shadow: 0 0 0.4em 0.5em hsla(0, 0%, 0%, 0.1);
		border-radius: 0.5em;

		h1 {
			height: 100%;
			padding: 0.5em 0;
			img {
				height: 100%;
			}
		}

		.score {
			height: 7.4em;
			width: 8.2em;
			background: white;
			display: flex;
			flex-direction: column;
			align-items: center;
			place-content: center;
			gap: 1em;
			border: 0.1em solid hsl(219, 31%, 16%);
			box-shadow: 0 0.3em 0.5em hsla(0, 0%, 0%, 0.15);
			border-radius: 0.5em;

			&--text {
				color: var(--score-text-color);
				font-size: 1em;
				line-height: 1;
				font-weight: var(--font-weight-bold);
				letter-spacing: 0.15em;
			}

			&--number {
				color: var(--dark-text-color);
				font-size: 4em;
				line-height: 0.6;
				font-weight: var(--font-weight-bold);
				letter-spacing: -0.03em;
				margin-bottom: 0.1em;
			}
		}
	}

	.content {
		/* RPSLS buttons */
		--button-diameter: 13em;

		grid-row: 2 / 3;
		display: grid;
		grid-template-rows: repeat(2, auto);
		grid-template-columns: auto 3em auto;
		align-items: center;
		justify-content: center;
		row-gap: 5em;

		&--start-game {
			/* RPSLS buttons for opening screen */
			--button-diameter: 10em;

			grid-area: 1 / 1 / 3 / 4;
			justify-self: center;
			position: relative;
			height: calc(var(--button-diameter) * 3);
			width: calc(var(--button-diameter) * 3);

			.rpsls-btn {
				position: absolute;
				cursor: pointer;

				&:nth-child(1) {
					top: 0;
					left: calc(50% - var(--button-diameter) / 2);
				}

				&:nth-child(2) {
					top: calc(var(--button-diameter) * 0.8);
					left: calc(50% + var(--button-diameter) / 2);
				}

				&:nth-child(3) {
					top: calc(var(--button-diameter) * 2);
					left: calc(50% + var(--button-diameter) / 10);
				}

				&:nth-child(4) {
					top: calc(var(--button-diameter) * 2);
					left: calc(50% - var(--button-diameter) * 1.1);
				}

				&:nth-child(5) {
					top: calc(var(--button-diameter) * 0.8);
					left: calc(50% - var(--button-diameter) * 1.5);
				}
			}

			.rpsls-btn:hover {
				box-shadow: 0 0 30px hsla(0, 0%, 100%, 0.95);
			}
		}

		.rpsls-btn {
			width: var(--button-diameter);
			height: var(--button-diameter);
		}

		img.pentagon {
			position: absolute;
			left: calc(50% - var(--button-diameter));
			top: calc(var(--button-diameter) / 2);
			height: calc(var(--button-diameter) * 2);
			width: calc(var(--button-diameter) * 2);
		}

		&--player {
			grid-area: 1 / 1 / 2 / 2;
		}

		&--computer {
			grid-area: 1 / 3 / 2 / 4;
			animation-name: fade-in;
			animation-duration: 3s;
			animation-iteration-count: 1;
			@keyframes fade-in {
				from {
					opacity: 0;
				}

				to {
					opacity: 1;
				}
			}
		}

		&--player,
		&--computer {
			display: flex;
			align-self: end;
			flex-direction: column;
			justify-content: space-between;
			gap: 2.5em;

			span {
				font-size: 1.6em;
				font-weight: var(--font-weight-bold);
				color: white;
				letter-spacing: 0.1em;
				text-align: center;
			}
		}

		.placeholder {
			width: var(--button-diameter);
			height: var(--button-diameter);
			border-radius: 50%;
			background: hsl(222, 46%, 17%);
		}

		&--result {
			grid-area: 2 / 1 / 3 / 4;
			align-self: start;
			display: none;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 1.5em;

			// fix em units for all views
			font-size: 10px;

			span.game-result {
				font-weight: var(--font-weight-bold);
				font-size: 5.6em;
				color: var(--light-text-color);
			}

			button.play-again-btn {
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 1em 3.8em;
				background: white;
				border: 2px solid white;
				border-radius: 0.5em;
				font-family: var(--font-family);
				font-weight: var(--font-weight-semi-bold);
				font-size: 1.6em;
				letter-spacing: 0.15em;
				text-transform: uppercase;
				cursor: pointer;
				transition: all 0.3s;
			}

			button.play-again-btn:hover {
				background: transparent;
				color: var(--light-text-color);
				transition: all 0.3s;
			}
		}
	}

	footer {
		grid-row: 3 / 4;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		.rules-btn {
			height: 2.5em;
			width: 8em;
			background: transparent;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			border: 2px solid white;
			border-radius: 0.5em;
			color: var(--light-text-color);
			font-family: var(--font-family);
			font-weight: var(--font-weight-semi-bold);
			font-size: 16px;
			line-height: 1.375;
			letter-spacing: 0.15em;
			cursor: pointer;
			transition: all 0.3s;
		}

		.rules-btn:hover {
			background: white;
			color: var(--dark-text-color);
			transition: all 0.3s;
		}

		.attribution {
			font-size: 11px;
			font-weight: var(--font-weight-light);
			text-align: center;
			text-transform: initial;
			color: var(--light-text-color);

			a {
				color: var(--attribution-color);
				text-decoration: none;
				padding-left: 0.5em;
			}
		}
	}

	.overlay {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 2;
		width: 100vw;
		height: 100vh;
		padding: 3em auto;
		background: hsla(0, 0%, 0%, 0.85);
		display: flex;
		justify-content: center;
		align-items: center;

		// fix em units for all views
		font-size: 10px;

		.modal {
			width: 100%;
			height: 100%;
			background: white;
			display: grid;
			grid-template-columns: 3em auto 3em;
			grid-template-rows: 10em auto 10em;
			justify-items: center;
			align-items: center;

			&--text {
				grid-area: 1 / 1 / 2 / 4;
				align-self: end;
				color: var(--dark-text-color);
				font-size: 3.2em;
				font-weight: var(--font-weight-bold);
			}

			&--icon {
				grid-area: 3 / 1 / 4 / 4;
				align-self: start;
				width: 2em;
				height: 2em;
				cursor: pointer;
			}

			&--image {
				grid-area: 2 / 1 / 3 / 4;
			}
		}
	}

	.hidden {
		display: none;
	}
}

@media screen and (min-width: 500px) {
	.App {
		.content {
			grid-template-columns: auto 5em auto;
			--button-diameter: 16em;
			&--start-game {
				/* RPSLS buttons for opening screen */
				--button-diameter: 15em;
			}
		}
	}
}

@media screen and (min-width: 800px) {
	.App {
		header {
			width: 700px;
			justify-self: center;
		}

		.content {
			/* RPSLS buttons */
			--button-diameter: 18em;

			width: 800px;
			justify-self: center;
			grid-template-rows: 1fr;
			grid-template-columns: repeat(3, auto);
			column-gap: 5em;

			&--start-game {
				/* RPSLS buttons for opening screen */
				--button-diameter: 18em;
			}

			&--player {
				grid-area: 1 / 1 / 2 / 2;
			}

			&--computer {
				grid-area: 1 / 3 / 2 / 4;
			}

			&--player,
			&--computer {
				align-self: unset;
				flex-direction: column-reverse;
			}

			&--result {
				grid-area: 1 / 2 / 2 / 3;
				align-self: unset;
			}
		}

		.overlay {
			.modal {
				width: 40em;
				height: 45em;
				padding: 3em;
				border-radius: 0.8em;

				grid-template-columns: 1fr;
				grid-template-rows: 5em auto;

				&--text {
					grid-area: 1 / 1 / 2 / 2;
					align-self: center;
					justify-self: start;
				}

				&--icon {
					grid-area: 1 / 1 / 2 / 2;
					align-self: start;
					justify-self: end;
				}

				&--image {
					grid-area: 2 / 1 / 3 / 2;
				}
			}
		}
	}
}

@media screen and (min-width: 1000px) {
	body {
		font-size: 16px;
	}

	.App {
		padding: 2em;
		padding-bottom: 2em;
		grid-template-rows: 9.5em 1fr auto;

		header {
			border-radius: 1em;
			outline-width: 0.2em;

			img {
				height: 6.85em;
			}

			.score {
				height: 7.25em;
				width: 9.5em;
			}
		}

		.content {
			width: 900px;
			column-gap: 3em;

			&--start-game {
				/* RPSLS buttons for opening screen */
				--button-diameter: 12em;
			}
		}

		footer {
			flex-direction: row-reverse;
			align-items: flex-end;
		}
	}
}

